@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { line-height: 1.5; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; background: #f5f5f5; -webkit-text-size-adjust: 100%; }
div, span, a, header { -webkit-tap-highlight-color: rgba(255,255,255,0); }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul, li { margin: 0; padding: 0; list-style-type: none; }
a, a:hover { color: #333; text-decoration: none; }
input[type=submit], input[type=button], input[type=text], input[type=password] { -webkit-appearance: none; border: 0; box-shadow: none; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.clearfix:after { content: "\020"; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1; }
.hidden { display: none }
.clear { height: 0; clear: both; }
.clr:after { display: block; clear: both; content: ""; visibility: hidden; height: 0 }
.clr { zoom: 1 }
table { border-collapse: collapse; border-spacing: 0; }
* { tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: rgba(0,0,0,0); -ms-tap-highlight-color: rgba(0,0,0,0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
input, textarea { outline: 0; resize: none; }
.viewport { min-width: 300px; max-width: 640px; margin: 0 auto; }
.fl { float: left; }
.fr { float: right; }
.whitebg { background-color: #fff; }
.tb30 { margin: 30px 0; }
.t10 { margin-top: 10px; }
.t5 { margin-top: 5px; }
.t15 { margin-top: 15px; }
.b10 { margin-bottom: 10px; }
.b5 { margin-bottom: 5px; }
.red { color: #e4393c!important; }
.blue { color: #09f!important; }
.green { color: #518900!important; }
.orange {
  color: #ff7800!important;
}
.txt_underline { text-decoration: underline; }
.bk{ display:block}
.f12{font-size:12px!important}
.f14{font-size:14px!important}
/*首页*/
.mhome { padding: 0; min-width: 300px; max-width: 640px; margin: 0 auto; }
/* ----------------banner---------------------- */
.slideBox { position: relative; overflow: hidden; margin: 0 auto; width: 100%; }
.slideBox .hd { position: absolute; height: 28px; line-height: 28px; bottom: 5px; right: 50%; margin-right: -40px; z-index: 1; }
.slideBox .hd li { display: inline-block; width: 8px; height: 8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #fff; text-indent: -9999px; overflow: hidden; margin: 0 6px; }
.slideBox .hd li.on { background: #f70a00; }
.slideBox .bd { position: relative; z-index: 0; }
.slideBox .bd li .txt { position: absolute; left: 0; top: 0; z-index: 999; font-size: 30px; }
.slideBox .bd li { position: relative; text-align: center; }
.slideBox .bd li img { background: url(../images/loading.gif) center center no-repeat; vertical-align: top; width: 100%; }
.slideBox .bd li a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
*/ .slideBox .bd li .tit {
display: block;
width: 100%;
position: absolute;
bottom: 50%;
height: 28px;
line-height: 24px;
color: #fff;
text-align: left;
font-size: 14px;
}
/*home menu*/
.mainmenu li { width: 50%; float: left; display: block; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.menubtn { display: block; text-decoration: none; color: #000; background-color: #ffffff; padding: 8px 10px; }
.mainmenu li:nth-child(odd) .menubtn { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.mainmenu li:nth-child(even) .menubtn { border-bottom: 1px solid #ccc; }
.menubtn .menumesg { padding: 0px; }
.menubtn .menuimg { margin: 0 auto; height: 80px; width: 80px; display: block; overflow: hidden; }
.mainmenu li div img { border: 0; height: 80px; }
.mainmenu li .menutitle { padding: 5px 0; text-decoration: none; color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; }
/*footer*/
.tp-1px-line-up { height: 0; border-top: 1px solid #ccc; border-width: 1px 0 0; }
.tp-footer { background: #fff; color: #848689; text-align: center; font-size: 12px; }
.tp-footer-links { margin: 0 auto; display: table; height: 13px; padding: 18px 0; width: 100%; }
.tp-footer-links li { display: table-cell; width: 22%; height: 13px; line-height: 13px; font-size: 13px; }
.tp-footer-links li a { color: #848689; text-decoration: none; }
.tp-footer-links li a:after { position: absolute; height: 17px; width: 17px; margin-left: 5px; margin-right: 0; background-image: url(../images/tp-sprites.png?v=12) no-repeat; background-position: -217px -319px; background-size: 300px auto; }
.tp-footer-links li:first-child, .tp-footer-links li:nth-child(2), .tp-footer-links li:nth-child(3) { border-right: 1px solid #d7d7d7; }
.tp-footer-links li:last-child { width: 34%; }
.tp-footer-links li.tel a { display: block; color: #f70a00; font-size: 1.125em; }
.tp-footer-platforms { height: 69px; width: 320px; margin: 0 auto; display: table; }
.tp-footer-platforms li { display: table-cell; }
.tp-footer-platforms li a { display: block; width: 45px; margin: 0 auto; font-size: 12px; color: #848689; text-decoration: none; position: relative; }
.tp-footer-platforms li.current a { color: #252525; }
.tp-footer-platforms li a.badge:after { content: ""; display: block; width: 10px; height: 10px; position: absolute; top: 2px; right: 3px; background-position: -150px 0; }
.tp-footer-platforms li a:before { content: ""; display: block; height: 38px; width: 33px; margin: 9px auto 0; background-position: 0 -70px; opacity: .6; background: url(../images/tp-sprites.png?v=12) no-repeat; background-size: 200px 385px; }
.tp-footer-platforms li.current a:before { opacity: 1; }
.tp-footer-platforms li.tp-footer-icon-touchscreen a:before { background-position: -40px -70px; }
.tp-footer-platforms li.tp-footer-icon-pc a:before { background-position: -80px -70px; }
.tp-footer-platforms li.tp-footer-icon-apps a:before { background-position: -120px -70px; }
.tp-footer-copyright { height: 44px; line-height: 44px; text-align: center; color: #848689; font-size: 12px; }
/*footer 2*/
.new-footer { margin-top: 10px; background-color: #f3f2f2; font-size: 14px; color: #6e6e6e; text-align: center; }
.new-footer .new-f-section, .new-footer .new-f-section2 { padding: 10px 0; }
.new-footer .new-f-section a:first-child { margin-left: 0; }
.new-footer .new-f-section .on { color: #c30202; }
.new-footer .new-f-section a { margin-left: 20px; color: #6e6e6e; }
.new-footer .new-f-login a { color: #fff; }
.new-footer .new-f-login .new-bar2 { margin: 0 5px; }
.new-footer .new-f-login .new-back-top { position: absolute; right: 12px; }
.new-footer .new-f-login { position: relative; padding: 0 12px; background-color: #a8a8a8; line-height: 27px; color: #fff; text-align: left; height: 27px; }
.new-footer .new-f-section2 { padding-top: 0; font-size: 12px; color: #6e6e6e; }
/*底部固定工具条*/
#tool { position: fixed; bottom: 0; left: 0; right: 0; z-index: 900; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.toollist { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; display: block; height: 50px; background-color: #f1f1f1; border-top: 1px solid #ccc; }
.toollist li { float: left; width: auto; height: 100%; width: 25%; position: static!important; margin: 0; border-radius: 0!important; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; box-flex: 1; -webkit-box-sizing: border-box; box-shadow: none!important; background: none; color: #666; }
.toollist li a { font-size: 12px; line-height: 20px; text-align: center; display: block; text-decoration: none; padding-top: 4px; position: relative; color: #666; }
.toollist li a img { width: 24px; height: 24px; }
.toollist li a p { font-size: 12px; display: block !important; line-height: 16px; text-align: center; color: #666; }
.toollist li.on a, .toollist li.on p { color: #e60012; }
/*灰色主题*/
.toollist_gray { border-top: 1px solid #3D3D46; background-image: linear-gradient(top, #697077, #464A53 60%, #3F434E); background-image: -o-linear-gradient(top, #697077, #464A53 60%, #3F434E); background-image: -ms-linear-gradient(top, #697077, #464A53 60%, #3F434E); background-image: -moz-linear-gradient(top, #697077, #464A53 60%, #3F434E); background-image: -webkit-linear-gradient(top, #697077, #464A53 60%, #3F434E ); box-shadow: 0 1px 0 #949494 inset; -moz-box-shadow: 0 1px 0 #949494 inset; -webkit-box-shadow: 0 1px 0 #949494 inset; -o-box-shadow: 0 1px 0 #949494 inset; }
.toollist_gray li { border-right: 1px solid rgba(148, 148, 148, 0.6); }
.toollist_gray li a { color: #fff; }
/*内页顶部*/
.new-header { position: relative; z-index: 8888; height: 44px; background: #e60012; }
.new-a-back { position: absolute; top: 6px; left: 20px; width: 30px; height: 32px; }
.new-header h2 { height: 44px; line-height: 44px; font-weight: normal; font-size: 16px; color: #fff; text-align: center; }
.new-a-tp { position: absolute; top: 6px; right: 7px; width: 37px; height: 30px; }
.new-a-tp span { display: inline-block; width: 21px; height: 21px; margin: 5px 0 0 8px; background: url(../images/tp-sprites.png) -124px -177px no-repeat; background-size: 200px 385px; text-indent: -9999px; }
.new-a-back span { display: inline-block; width: 18px; height: 18px; margin-top: 6px; background: url(../images/tp-sprites.png) -56px -153px no-repeat; background-size: 200px 385px; text-indent: -9999px; }
/*taopai 键*/
.new-tp-tab { border-bottom: 1px solid #d0cece; background-color: #fff; -webkit-transform-origin: 0px 0px 0px; opacity: 1; -webkit-transform: scale(1, 1); display: none; }
.new-tp-tab .new-tbl-cell .icon, .new-tp-tab .new-tbl-cell .icon2, .new-tp-tab .new-tbl-cell .icon3, .new-tp-tab .new-tbl-cell .icon4 { display: inline-block; width: 22px; height: 22px; background: url(/m/images/touch2013/icon2b.png) -60px -25px no-repeat; background-size: 180px 180px; text-indent: -9999px; }
.new-tp-tab .new-tbl-cell { width: 25%; padding: 9px 0; font-size: 12px; color: #fff; text-align: center; }
.new-tbl-type { display: table; width: 100%; }
.new-tbl-cell { display: table-cell; }
.new-tbl-cell span { color: #787878; }
.new-tbl-cell p { color: #6e6e6e; }
/*list style*/
  /*aboutus list*/
.card_cm { margin: 0 10px 20px 10px; min-width: 300px; overflow: hidden; }
.card_cm ul { }
.card_cm ul li { display: block; position: relative; border: 1px solid #ddd; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height: 50px; line-height: 30px; background: #fff; margin-top: 10px; vertical-align: top; padding: 10px; font-size: 16px; color: #333; }
.card_cm ul li a { display: block; }
.card_cm ul li i { width: 8px; height: 14px; display: block; position: absolute; top: 18px; right: 10px; background: url(../images/tp-sprites.png) -186px -50px no-repeat; background-size: 200px 385px; }
.card_cm ul li em { display: inline-block; float: left; width: 30px; height: 30px; font-style: normal; font-size: 18px; line-height: 30px; text-align: center; color: #fff; background: #fdd000; margin-right: 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.card_cm ul li em.rmb { display: inline-block; float: left; width: 30px; height: 30px; background: #539608 url(../images/ico-rmb.png) no-repeat center center; background-size: 12px; margin-right: 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.card_cm ul li em.message { display: inline-block; float: left; width: 30px; height: 30px; background: #539608 url(../images/ico-message.png) no-repeat center center; background-size: 20px; margin-right: 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/*aboutus 内页*/
.promotion-banner, .signed-img { margin: 10px 0 0 0; }
.promotion-banner img, .signed-img img { width: 100%; display: block; }
.grid-main { margin-top: 10px; }
.ui-info-title { background-color: #a8a8a8; padding: 10px; font-size: 1.143em; }
.ui-info-title h1 { color: #fff; }
.ui-info-content { padding: 10px; background-color: #fff; border-bottom: #ddd 1px solid; color: #333; font-size: 14px; }
.ui-article p { margin: 0 0 9px; }
.ui-article li { margin: 7px 0; list-style: disc; margin-left: 20px; }
.ui-article-scroll { max-height: 300px; overflow-y: auto; }
.ui-article h3, .ui-article .enhance-text { color: #ec2200; }
.ui-article img { max-width: 100%; }
.ui-article a { color: #ec2200; text-decoration: underline; }
.ui-article table { max-width: 100%; width: 100%; }
.ui-article th, .ui-article td { border: 1px solid #ccc; padding: 10px; }
/*通用输入框*/
/*通用 btn*/
.btn { font: 1em bold 'Microsoft YaHei', Arial, Helvetica, sans-serif; width: 100%; height: 2.4em; line-height: 2.4em; border-radius: 3px; cursor: pointer; color: #fff; text-align: center; background: #fdd000; display: block; margin: 1em 0; }
.btn:hover { color: #ea5252 }
.btnGray { color: #333; background: #ccc; }
.btnRed { color: #fff; background: #ea5252; }
.btnRed:hover { color: #fff }
.btn-type1, .btn-type1:hover { display: block; padding: 8px 0; border-radius: 2px; background-color: #c00; font-size: 14px; color: #fff; text-align: center; }
.btn-small1 {
  width: 100px;
  background-image: linear-gradient(to bottom,#fba949,#fba239);
  background-color: #fba949;  display: inline-block;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align:middle;
}
.btn-small2 {
  margin-left: 9px;
  margin-right: 9px;
  width: 140px;
  background-image: linear-gradient(to bottom,#fd6161,#fd5b5b);
  background-color: #fd6161;  display: inline-block;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align:middle;
}
.btn-small3 {
  margin-left: 1%;
  margin-right: 1%;
  width: 30.33%;
  background-color: #09f;  display: inline-block;
  border-radius: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align:middle;
}
/*news*/
.cot { margin: 0; color: #282828; overflow: hidden; }
.newslist li { height: 40px; border-bottom: 1px solid #e1e1e1; border-left: 0; border-right: 0; line-height: 40px; background: #fff; position: relative; }
.newslist li a { width: 100%; height: 100%; display: block; }
.newslist li img { display: block; height: 100%; float: left; width: auto; }
.newslist li .txt { margin: auto 1em; height: 100%; overflow: hidden; vertical-align: middle }
.newslist li .txt h4 { color: #4B4B4B; font-size: 14px; overflow: hidden; white-space: nowrap; width: 80%; text-overflow: ellipsis; float: left; }
.newslist li .txt .upTime { font-size: 12px; color: #aaa; float: right }
.loading { display: block; height: 50px; width: 100%; text-align: center; position: relative; top: -40px; }
.loading img { width: 30px; }
.xt { top: -40px; position: relative; text-align: center; }
.newtit { color: #282828; font-size: 24px; text-align: center; margin-top: 10px; }
.newUpTime { font-size: 12px; text-align: center; color: #8e8e8e; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dotted #ccc; }
.detl { margin: 0 10px; overflow: hidden; margin-bottom: 20px; font-size: 0.875rem; color: #666; }
.detl .newtxt { text-indent: 2em; margin-bottom: 20px; }
.detl li { margin-bottom: 10px; width: 100%; }
.detl img { width: 100%; }
.fp a { display: inline-block; width: 48%; height: 30px; background-color: #f1f1f1; border: 1px solid #D3D3D3; border-radius: 2px; text-align: center; color: #727272 }
/*查件*/
h1.logo { padding: 2rem 0 0.75rem; text-align: center; }
h1.logo img { height: 3rem; }
section h2 { padding: 0.5rem; text-align: left; font-weight: normal; border-bottom: 1px solid #d3d3d3; }
/*查件输入框*/
.input-box { }
.input-box form { margin: 0 0.625rem; position: relative; display: -webkit-box; -webkit-box-align: stretch; border: 1px solid #0092f7; }
.input-box input { display: block; line-height: 40px; height: 40px; }
.num-inp { padding: 0.25rem 0.5rem; padding-right: 2.5rem; -webkit-box-flex: 1; -webkit-appearance: none; height: 2rem; font-size: 1rem; border: none; border-radius: 0; }
.query-btn { width: 2.5rem; height: 2.5rem; border: none; border-left: 1px solid #f70a00; background: url(../images/searchbg.png) center center no-repeat #f70a00; border-radius: 0; background-size: auto 100%; }
.input-box .num-inp:focus { outline: none; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) }
.input-box .scan { position: absolute; top: 0.25rem; right: 3.25rem; width: 2rem; height: 2rem; background: url(../images/saomiao.png) no-repeat; background-size: 100% 100%; }
.input-box .clear { position: absolute; top: 0.25rem; right: 3.25rem; width: 2rem; height: 2rem; background: url() no-repeat; background-size: 100% 100%; }
.input-droplist { position: absolute; z-index: 5; top: 0; left: 0; width: 100%; font-size: 0.875rem; }
.input-droplist ul { margin-right: 3rem; border: 0.0625rem solid #ccc; background-color: #fff; }
.input-droplist li a { display: block; padding: 0.5rem; color: #3781e4; border-bottom: 1px solid #ececec; }
.input-droplist li:nth-last-child(1) a { border-bottom: none; }
.input-droplist li a span { float: right; margin-right: 0.25rem; color: #999; }
.input-droplist div { margin-right: 3rem; height: 1.75rem; border: 0.0625rem solid #ccc; border-top: none; background-color: #eee; }
.input-droplist div a { display: inline-block; padding: 0 0.5rem; height: 1.75rem; line-height: 1.75rem; color: #999; }
.input-droplist div a:nth-child(2) { float: right; border-left: 0.0625rem solid #ccc; }
/*查件结果*/
.com-info { -webkit-box-align: center; padding: 1rem 0.5rem; }
.com-info .info1 { height: 2.5rem; width: 3.5rem; border: 1px solid #3781E4; position: relative }
.com-info .info2 { -webkit-box-flex: 1; height: 2.625rem; }
.com-info .info1 img { width: 2rem; vertical-align: middle; border-radius: 1.5rem; margin: 0.25rem; }
.a-choosecom:after { content: ""; position: absolute; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(203, 203, 203); font-size: 0px; line-height: 0px; top: 1.2rem; right: 0.2rem; }
.com-info .info1 select { margin-left: -1000rem; }
.result-list { border-top: 0.0625rem solid #dddddd; }
.result-list li { display: -webkit-box; -webkit-box-align: center; overflow: hidden; color: #777; border-bottom: 0.0625rem solid #dddddd; }
.result-list li.last { color: #0092f7; }
.result-list li .col1, .result-list li .col2, .result-list li .col3 { display: block; }
.result-list li .col1 { width: 6rem; padding: 0.625rem; text-align: center; font-size: 0.875rem; font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
.result-list li .col2 { width: 1.25rem; position: relative; }
.result-list li .col3 { -webkit-box-flex: 1; padding: 0 0.625rem; font-size: 0.875rem; }
.result-list li .col1 dd { margin-top: 0.25rem; }
/*.result-list li.first .col1 dd{font-size:2rem;}
.result-list li.last .col1 dd{font-size:2rem;}*/
.result-list li .col2 .line1, .result-list li .col2 .line2 { position: absolute; z-index: 1; left: 0; width: 0.5rem; height: 10em; border-right: 0.0625rem solid #dddddd; }
.result-list li .col2 .line1 { top: -10em; }
.result-list li .col2 .line2 { top: 0; }
.result-list li .col2 .point { position: absolute; z-index: 2; top: -0.5rem; left: 0; width: 0.9375rem; height: 0.9375rem; border-radius: 0.9375rem; background-color: #fff; border: 0.0625rem solid #dddddd; }
.result-list li .col2 .point:before { content: ""; position: absolute; top: 0.45rem; left: 0.0625rem; height: 0.125rem; width: 0.5rem; overflow: hidden; background: #ddd; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-radius: .02em; }
.result-list li .col2 .point:after { content: ""; position: absolute; top: 0.45rem; right: 0.0625rem; height: 0.125rem; width: 0.5rem; overflow: hidden; background: #ddd; -webkit-transform: rotate(135deg); transform: rotate(135deg); border-radius: .02em; }
.result-list li.first .col2 .point { }
.result-list li.last .col2 .point { border: solid 1px #FE8540 }
.result-list li.finish { position: relative; }
.result-list li.finish .col2 .point { background-color: #ef5858; }
.result-list li.finish .point:before { content: ""; position: absolute; top: 0.5625rem; left: 0.0625rem; height: 0.125rem; width: 0.375rem; overflow: hidden; background: #FFF; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-radius: .02em; }
.result-list li.finish .point:after { content: ""; position: absolute; top: 0.46rem; right: 0; height: 0.125rem; width: 0.75rem; overflow: hidden; background: #FFF; -webkit-transform: rotate(135deg); transform: rotate(120deg); border-radius: .02em; }
.result-box .result-btn { display: inline-block; margin: 1rem 0.5rem 0; padding: 0 1.5rem; height: 2.5rem; line-height: 2.5rem; font-size: 1rem; color: #fff; background-color: #fe8540; border-radius: 0.25rem; }
.result-fail { padding: 8rem 0 2rem; overflow: hidden; color: #ff7f02; background: url() center 2rem no-repeat #fff; background-size: 10rem 5rem; }
.result-success p, .result-fail p { line-height: 1.8rem; text-align: center; font-size: 0.875rem; color: #333; }
/*查询结果样式2*/
.new-order { padding: 20px 12px; }
.new-order-track { padding: 10px 20px; border: 1px solid #999; }
.new-order-track span { display: block; font-size: 14px; color: #6e6e6e; }
.new-order-track span  strong{margin-right:5px;color: #e4393c; }
.new-order-track .new-txt-rd2 { color: #e4393c; }
.new-p-re { position: relative; }
.new-order-flow { margin-top: 20px; padding: 5px 10px 30px; border-left: 1px solid #ccc; }
.new-order-arr { position: absolute; top: -4px; left: -5px; width: 9px; height: 9px; background: url(../images/tp-sprites.png) 0 -720px no-repeat; }
.new-of-storey li { position: relative; padding: 15px 10px; border-bottom: 1px dotted #e8e5e5; }
.new-of-storey li span { display: block; font-size: 14px; color: #6e6e6e; }
.new-of-storey li .icon { position: absolute; top: 42%; left: -15px; width: 9px; height: 9px; border-radius: 5px; background-color: #ccc; }
.new-of-storey li .icon.on { background-color: #e4393c; }
/*反馈*/
.feedback { padding: 1rem; text-align: center; color: #333; }
.feedback textarea { padding: 2%; width: 96%; height: 10rem; color: #333; border-radius: 0.25rem; resize: none; font-family: "Microsoft YaHei"; }
/*加载更多*/
.new-load-more { padding: 25px 0; text-align: center; cursor: pointer; display: block; }
.new-load-more span { display: block; width: 120px; margin: 0 auto; color: #67738a; font-size: 12px; }
.new-spinner { text-align: center; height: 80px; width: 100px; margin: 0 auto; padding-top: 20px; }
/*help pic list*/
.help_piclist { margin-top: 5px; }
.help_piclist li { width: 50%; float: left; display: block; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.help_piclist a { display: block; text-decoration: none; background-color: #ffffff; padding: 8px 10px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); /*-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;*/ color: #fff; }
.help_piclist li:nth-child(odd) a { margin: 5px 5px 5px 10px; }
.help_piclist li:nth-child(even) a { margin: 5px 10px 5px 5px; }
.help_piclist .hpimg { text-align: center; }
.help_piclist .hpimg img { width: 116px; height: 116px; }
.help_piclist .hptxt { text-align: center; }
.help_piclist .hpli1 { background-color: #e60012 }
.help_piclist .hpli2 { background-color: #fdd000 }
.help_piclist .hpli3 { background-color: #159fe7 }
.help_piclist .hpli4 { background-color: #ff6600 }
/*helplist*/
.helplist { margin: 0; color: #282828; overflow: hidden; }
.helplist li { height: 40px; line-height: 40px; border-bottom: 1px solid #e1e1e1; border-left: 0; border-right: 0; background: #fff; position: relative; }
.helplist li a { width: 100%; height: 100%; display: block; text-indent: 1em; }
.helptit { color: #282828; font-size: 16px; margin-top: 10px; border-bottom: 1px solid #ccc; padding: 0.6em; margin-bottom: 1em; }
.helplist li .arrow { -webkit-transform: rotate(45deg); border: solid #c00000; border-width: 2px 2px 0px 0px; display: inline-block; height: 7px; width: 7px; position: absolute; right: 10px; top: 50%; margin-top: -3px; border-color: #c7c7cc; }
#one .mt { padding-top: 3px; padding-bottom: 2px; line-height: 25px; background: #666; padding-left: 7px; font-weight: 900; color: #fff; font-size: 16px; margin: 0 10px; }
#one .mc { padding: 8px 10px; font-size: 14px; line-height: 20px; color: #333 }
/*集运工具列表*/
#dvmenu { padding-left: 12px; padding-right: 12px; color: #535353; }/*line-height:26px; font-size:18px;*/
#dvmenu li { width: 100%; height: 72px; margin-top: 22px; border: 1px solid #d0d0d0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #fafafa; }
#dvmenu li a { width: 100%; display: block; height: 70px; font-size: 20px; color: #868686; padding-top: 10px; background: url(../images/app-ico1.png) no-repeat right 28px; vertical-align: middle; }
#dvmenu li a img { vertical-align: middle; margin-left: 15px; margin-right: 25px; height: 50px; width: 50px; }
/*运费查询*/
.fm-list { background-color: #fff; }
.fm-list .fm-item { padding: 5px 15px 5px 115px; border-bottom: #ddd 1px solid; position: relative; z-index: 0; min-height: 45px; position:relative;}
.fm-list .fm-item label { font-size: 14px; display: block; width: 100px; text-align: right; position: absolute; top: 5px; left: 5px; line-height: 35px; height: 35px; padding-right: 10px; color: #787878; border-right: 1px solid #ccc; }
.fm-list .fm-item input, .fm-list .fm-item select { width: 100%; font-size: 14px; font-family: "microsoft yahei"; border: 0; outline: none; height: 35px; line-height: 33px; }
.fm-list .fm-item select { }
.fm-list .fm-item-more { padding: 0 0 0 60px; }
.fm-list .fm-item-more label { width: 50px; border: 0; }
.fm-list .fm-item-more .label-content { }
.fm-list .fm-item-more .label-cols { float: left; display: inline-block; width: 33.3333333%; border-left: #ddd 1px solid; }
.fm-list .fm-item-more .label-box { display: inline-block; padding: 5px 35px 5px 30px; position: relative; z-index: 0; }
.fm-list .fm-item-more .label-box label { width: 20px; border: 0; }
.fm-list .fm-item-more .label-box .unit { display: inline-block; position: absolute; top: 5px; right: 10px; color: #ccc; line-height: 35px; font-size: 12px; }

.fm-list .fm-item .search_btn{ position:absolute; top:10px;right:10px;}
.grid-btn { padding: 0 0.6em; }
/*运费查询结果*/
.express-list { border-top: #ddd 1px solid; margin-bottom: 30px; }
.express-list table { width: 100%; white-space-collapse: collapse; background-color: #fff; font-size: 14px; }
.express-list table th { background-color: #eee; border-bottom: #ddd 1px solid; height: 40px; line-height: 40px; text-align: center; }
.express-list table td { border-bottom: #ddd 1px solid; height: 40px; line-height: 40px; text-align: center; color: #444;font-size: 12px; }
.express-list table td span { color: #f00; }
.express-list table td i { font-size: 12px; color: #999; margin-left: 2px; }
/*自提点查询*/
.DP-box { margin-top: 10px; background: #FFF; border-top: 1px solid #c8c7cc; border-bottom: 1px solid #c8c7cc; display: inline-block; width: 100%; }
.DP-width { color: #707070; font-size: 14px; margin: 0 10px; }
.DP-width p { min-height: 30px; line-height: 25px; text-align: left; vertical-align: bottom; }
.DP-width .DP-name { margin-top: 5px; border-bottom: 1px solid #e4e4e4; color: #e60012; }
.DP-width .DP-name span { color: #333; }
.DP-addr { margin-top: 5px; margin-bottom: 5px; }
.DP-addr i { width: 12px; height: 18px; background-image: url(../images/tp-sprites.png); display: inline-block; background-size: 200px 385px; background-position: -150px -30px; vertical-align: middle; margin-right: 8px; }